body,table td,select,button {
	font-family: 'Arial Unicode MS', 'Microsoft Sans Serif', Tahoma, Arial, sans-serif;
}
body {
	color: #666666;
	margin: 10px;
	border: 0px;
	padding: 0px;
	background: #fff;
	direction: ltr;
	font-size: 0.8em;
}
table {
	border-spacing: 0px;
}
textarea, iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea {
	height: 90px;
	display: block;
}
iframe {
  	border: 1px solid #E7E7E7;
}
a,a:visited {
	color: #0066cc;
	text-decoration: none;
}
a:hover {
	color: #0066cc;
	text-decoration: underline;
}
select {
	background: white;
}
h1 {
	font-size: 1.8em;
	font-weight: normal;
	lign-height: 30px;
	color: #38393D;
}
h2 {
	font-size: 1.2em;
	padding: 10px 0 0 0;
	margin: 0;
	font-weight: bold;
	color: #38393D;
}
p {
	color: #666666;
	font-size: 1.1em;
}

.BottomPanel{
	padding: 10px 20px;
	border-top: 2px solid #EAEAEA;
	background-color: #FFFFFF;
	font-size: 1.1em;
	text-align: center;
}

.FlexBox{
	float: left;
	width: 300px;
	height: 80px;
	background-color: #EAEAEA;
	margin: 0px 10px 10px 0px;
	padding: 10px;
	padding-bottom: 40px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.FlexBox .FlexBoxTitle{
	color: #741B09;
	font-size: 1.2em;
	margin-bottom: 10px;
	border-bottom: 1px solid #fff;
	padding-bottom: 5px;
}
.FlexBox .FlexBoxContent{
	margin-left: 0px;
}

.FlexBox .FlexBoxAction{
	bottom: 10px;
}
.FlexBoxContainer{	
	margin-left:300px;
}
.FlexBoxContainer-1column{
	max-width: 350px;
}
.FlexBoxContainer-2column{
	max-width: 700px;
}
.FlexBoxContainer-3column{
	max-width: 1050px;
}
.FlexBoxContainer-4column{
	max-width: 1400px;
}
.FlexBoxContainerLayoutItemGroup{
	margin: 0 20px 5px 0;
	cursor: pointer;
}
.FlexBoxContainerLayoutItem{
	width: 20px;
	height: 10px;
	background-color: #EAEAEA;
	margin-right: 1px;
}
.FlexBoxContainerLayoutItemGroup-active .FlexBoxContainerLayoutItem{
	background-color: #666666;
}
.Result{		
	height: 100px;	
	margin: 0px 10px 10px 300px;	
}
.FilterBox{
	float: left;
	margin: 100px 0px 0px 0px;
	max-width:300px;
}