/* Just some base styles not needed for example to function */
img { border: none; }
/* CSS Tree menu styles */
ol.tree
{
	margin-left: 50px;	
	background-color: #EAEAEA;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #741B09;
	font-size: 1.1em;
	
}
ol li ol li label{
	margin-left: -16px;
}
ol.tree li{
	margin-left:-25px;
	margin-bottom:5px;
}
li 
{ 
	position: relative; 	
	list-style: none;
}
li input
{
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}
li input + ol
{
	background: url(toggle-small-expand.png) 40px -3px no-repeat;
	margin: -0.938em 0 0 -44px; /* 15px */
	height: 1em;
}
li input + ol > li { display: none; margin-left: -20px !important; }
li label
{		
	cursor: pointer;
	display: block;
	padding-left: 15px;
}

li input:checked + ol
{
	background: url(toggle-small.png) 40px 2px no-repeat;
	margin: -1.25em 0 0 -44px; /* 20px */
	padding: 1.563em 0 0 80px;
	height: auto;
}
li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
.label{	
	width: 175px;
	display:inline-block;
	margin-left:0px;
	vertical-align: middle;
	overflow: hidden;
}
.count{	
	width:32px;	
	display:inline-block;
	text-align: right;
	vertical-align: middle;
	overflow: hidden;
}