<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Statistical data space</display-name>
  <servlet>
    <servlet-name>AnalyzeEndpoint</servlet-name>
    <servlet-class>tuwien.ldlab.statspace.controller.widgetgeneration.AnalyzeEndpoint</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AnalyzeDataSet</servlet-name>
    <servlet-class>tuwien.ldlab.statspace.controller.widgetgeneration.AnalyzeDataSet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadWidget</servlet-name>
    <servlet-class>tuwien.ldlab.statspace.controller.widgetgeneration.DownloadWidget</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenerateWidget</servlet-name>
    <servlet-class>tuwien.ldlab.statspace.controller.metadata.GenerateWidget</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenerateMetaData</servlet-name>
    <servlet-class>tuwien.ldlab.statspace.controller.metadata.GenerateMetaData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReceiveSparqlQuery</servlet-name>
    <servlet-class>tuwien.ldlab.statspace.controller.sparql.ReceiveSparqlQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReceiveMediatorQuery</servlet-name>
    <servlet-class>tuwien.ldlab.statspace.controller.mediator.ReceiveMediatorQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReceiveRMLRequest</servlet-name>
    <servlet-class>be.ugent.mmlab.rml.controller.ReceiveRMLRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestExploration</servlet-name>
    <servlet-class>tuwien.ldlab.statspace.controller.exploration.RequestExploration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExploreDataSet</servlet-name>
    <servlet-class>tuwien.ldlab.statspace.controller.exploration.ExploreDataSet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CompareDataSet</servlet-name>
    <servlet-class>tuwien.ldlab.statspace.controller.exploration.CompareDataSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyzeEndpoint</servlet-name>
    <url-pattern>/widgetgeneration/endpoint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnalyzeDataSet</servlet-name>
    <url-pattern>/widgetgeneration/dataset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadWidget</servlet-name>
    <url-pattern>/widgetgeneration/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateWidget</servlet-name>
    <url-pattern>/generateWidget</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateMetaData</servlet-name>
    <url-pattern>/metadata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveSparqlQuery</servlet-name>
    <url-pattern>/sparql</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveMediatorQuery</servlet-name>
    <url-pattern>/mediator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveRMLRequest</servlet-name>
    <url-pattern>/rml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestExploration</servlet-name>
    <url-pattern>/exploration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExploreDataSet</servlet-name>
    <url-pattern>/exploreDataSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompareDataSet</servlet-name>
    <url-pattern>/compareDataSet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>tuwien.ldlab.statspace.model.widgetgeneration.WidgetListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>