	select{
		width:110px;
		color: #000000;
		font-size : 13px;
	}
	body,button{
		color: #000000;
		font-size : 13px;
		font-family: 'Arial Unicode MS', 'Microsoft Sans Serif', Tahoma, Arial, sans-serif;
		margin-left: 250px;
		margin-right:250px;
		padding: 0;
	}	
	textarea {
		width: 100%;
		font-family: 'Open Sans', Verdana, Helvetica, Arial, sans-serif;
		font-size: 9pt;
		margin-top:15px;
		margin-bottom:15px;
		background-color:#F7F1F1;
	}
	div{
		margin-top:10px;
		
	}
	label{
		font-weight: bold;		
	}
	.table-scroll {
		height:450px;		
		overflow:auto;  
		margin-top:20px;
		margin-bottom:30px;
	}	
	table{	  
	  backgroud-color:#FFFFE0;
	  border-collapse:collapse;
	  font-family: 'Open Sans', Verdana, Helvetica, Arial, sans-serif;
	  font-size:11px;
	 
	}
	th{
		background-color:#FF9966;		
	}
	td, th {
		height: 30px;	
		padding: 3px;
		border: 1px solid black;				
	}
	.ds0{
		background-color:#f1dbe9
	}
	.ds1{
		background-color:#FCFCD1
	}
	.ds2{
		background-color:#D5FCF5
	}
	.ds3{
		background-color:#eeefd3
	}
	.ds4{
		background-color:#dcffdc
	}
	.ds5{
		background-color:#C8F7FA
	}	
	.ds6{
		background-color:#E9FCC2
	}
	.ds7{
		background-color:#FFCCFF
	}
	.ds8{
		background-color:#DBF5D4
	}	
	.ds9{
		background-color:#CCC6DF
	}
	.ds10{
		background-color:#D4D6CA
	}
	.ds11{
		background-color:#F0D4FA
	}	
	.ds12{
		background-color:#E8F9C5
	}
	.ds13{
		background-color:#FFCDF1
	}
	.ds14{
		background-color:#C4DADA
	}
	.ds15{
		background-color:#D6DCB2
	}	